.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem 0;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;
    
    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }


  &--red {
    background: $mainRed;
    color: #fff;
  }

  &--dark-grey {
    background: $mainDarkGrey;
    color: #fff;
  }

  &--light-grey {
    background: $mainLightGrey;
    color: $mainDarkGrey;
  }

  &--technologies {
    background-color: #e0e6ef;
    @mixin atLarge {
      &.lazyloaded {
        background: url('../../assets/images/bg-technologies.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }
}